{{/* KaTeX shortcode 사용 시 $...$ 딜리미터 추가 지원 */}}
{{ if .Page.HasShortcode "katex" }}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body, {
        delimiters: [
          { left: "$$", right: "$$", display: true },
          { left: "$", right: "$", display: false },
          { left: "\\(", right: "\\)", display: false },
          { left: "\\[", right: "\\]", display: true }
        ],
        throwOnError: false
      });
    });
  </script>
{{ end }}
